.corpo{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
}


#box{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 10%;
    margin-bottom: 10%;
}
#box1{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}
#move{
    padding-left: 2%;
}