	
	body{
		overflow: hidden;
	}

	.nav-1{
		height: 500px;
	}
	.conteudo1{
		margin-top: 1em;
		/*margin-left: 1em;*/
	}

	.col-info-galpoes{
		border-left: solid 4px;
		border-color: #6C757E;
	}

	.col-info-galpoes-home{
		border-left: solid 4px;
		border-color: #6C757E;
		height: 500px;
	}

	.info-right{
		margin-top: 1em;
	}

	.tamanho-row{
		height: 630px;
	}

	.branco{
		color: #fff;
		padding-left: 15px;
	}

	.fontChart{
		font-size: 22px;
	}

	.center-modal {
		width: 400px;
	}