.chart-container{
    display: block;
    width: 500px; 
    margin: auto;
}
.linha{
    display: flex;
}
.tela{
    display: flex;
}
.contEsquerdo{
    padding-left: 2%; 
}
.linha h3{
    font-size: large;
}

body{
    background-color: #e4e4e491 !important;
}

.table{
    margin-top: 50px;
    color: #ad2929
}
.ldDireito .table{
    color: #299fad;
}
.contDireito{
    padding-left: 6vh;
}
.ldEsquerdo{
    border-right: 2px #CCCCCC solid;
    margin: 0;
    padding: 0;
    padding-left: 35px;
    padding-right: 35px;
}
.ldEsquerdo h3{
    color: #ad2929;
    width: 227px;
    text-align: left;
}
.ldDireito h3{
    color: #299fad;
    width: 227px;
    text-align: left;
}
.ldDireito{
    padding-right: 35px;
    padding-left: 35px;
}
h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
}
h4 {
    text-align: center;
    font-family: 'Lato', sans-serif;
}
p {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.esconder{
    display: none;   
}

@media(max-width: 1362px){
    .tela{
        display: block;
    }
    .table{
        width:497px !important;
    }
}