/* Profile page */
.container-fluid{
    padding-left: 15%;
    padding-top: 3%;
}

body{
    line-height: 3.089 !important;
}
.row{
    margin: -1px !important;
}
#title-Services{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
#geral,#total{
    margin-left: 250px !important;
}

#total{
    line-height: 7 !important;
    overflow: hidden !important;
}
.titulo_pagina {
    font-family: Arial;
    background-color: #1E90FF;
    height: 70px;
    font-size: 25px;
}

.divForm {
    text-align: center;
    margin-top:90px;
    font-family: Arial;
    width: 600px;
}

.button_submit {
    margin-top: 30px;
}

h3{
    padding-left: 1%;
};